* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 60.625em) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 43.75em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 39.7em) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 29em) {
  html {
    font-size: 43%;
  }
}

body {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  color: #fefefe;
  background-color: #17171b;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 2rem;
}

.btn {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #c0c0c1;
  background-color: transparent;
  border: 1px solid #252528;
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #2f2f34;
  color: #fefefe;
}
.btn:active {
  position: relative;
  overflow: hidden;
  transform: scale(0.95);
}
.btn:first-child {
  color: #fefefe;
  border: none;
  background-color: #2f2f34;
}

.header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  width: 100%;
  flex-basis: 8rem;
  padding: 2rem;
  background-color: rgba(23, 23, 27, 0.85);
  backdrop-filter: blur(10px);
  border-bottom: 2px solid #1c1c1f;
  z-index: 100000;
}
.header__heading {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 60.625em) {
  .header__heading {
    display: none;
  }
}
.header__heading--text-1 {
  color: #717376;
  font-weight: 400 !important;
  font-size: 3rem !important;
}
.header__logo {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}
.header__navigation {
  display: flex;
  gap: 3rem;
}
.header__link {
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  letter-spacing: 0.2px;
  color: #717376;
  display: flex;
  gap: 0.6rem;
}
.header__link:nth-child(4) {
  flex: 1;
}

.main {
  display: flex;
  width: 100%;
  flex: 1;
  margin-top: 8rem;
}

.main__right {
  border-left: 2px solid #1c1c1f;
  flex: 1;
  padding: 2rem;
  margin-left: 35rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 60.625em) {
  .main__right {
    margin-left: 0;
  }
}

.main__trending {
  padding: 2rem;
}
.main__trending--header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}
.main__trending--header--text-1 {
  color: #fefefe;
  font-size: 1.8rem !important;
}
.main__trending--header--text-2 {
  font-size: 1.4rem !important;
  color: #717376;
  font-weight: 500 !important;
  flex: 1;
}
.main__trending--header--text-3 {
  color: #717376;
  font-weight: 500 !important;
  font-size: 1.6rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  text-decoration: none;
}

.movies {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 1.5rem;
}

.movie {
  display: flex;
  background-color: #1c1c1f;
  border-radius: 1rem;
  position: relative;
  max-height: 40rem;
  overflow: hidden;
  transition: all 0.2s ease-in;
}
.movie__image {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
.movie__maximize {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 1000;
}
.movie__heart {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.movie__heart:hover {
  transform: scale(1.1);
  fill: #fefefe;
}
.movie__info {
  opacity: 0;
  display: flex;
  align-items: flex-end;
  position: absolute;
  backdrop-filter: blur(5px);
  background-color: rgba(28, 28, 31, 0.5);
  flex: 1;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in;
}
.movie__info:hover {
  opacity: 100;
  cursor: pointer;
}
.movie__info--title {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -15%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  gap: 0.5rem;
  font-size: 1.6rem;
  background-color: #262629;
  padding: 1rem;
  min-width: 90%;
  border-radius: 0.5rem;
  min-height: 5rem;
  color: #c0c0c1;
}
@media only screen and (max-width: 36.25em) {
  .movie__info--title {
    font-size: 2rem;
  }
}
.movie__info--rating {
  display: flex;
  align-items: center;
  color: #c0c0c1;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 1.6rem;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 36.25em) {
  .movie__info--rating {
    font-size: 2rem;
  }
}

.main__left {
  height: 110vh;
  width: 35rem;
  top: -1rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  background-color: rgba(23, 23, 27, 0.97);
  backdrop-filter: blur(10px);
  z-index: 10000;
}
@media only screen and (max-width: 60.625em) {
  .main__left {
    padding: 2rem;
  }
}

.main__up {
  position: relative;
  top: 11rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-basis: 60%;
}
@media only screen and (max-width: 60.625em) {
  .main__up {
    padding: 0;
  }
}

.main__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main__buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.6rem;
}

.main__down {
  padding: 2rem;
  flex: 1;
  background-color: #1c1c1f;
  border-top: 1px solid #1c1c1f;
  border-bottom: 1px solid #1c1c1f;
}
@media only screen and (max-width: 60.625em) {
  .main__down {
    padding: 0;
  }
}

.h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.h3 {
  font-size: 1.8rem;
  letter-spacing: 0.3px;
  font-weight: 400;
}
@media only screen and (max-width: 36.25em) {
  .h3 {
    font-size: 2.1rem !important;
  }
}

.hidden {
  display: none;
}

.icon {
  width: 2.3rem;
  height: 2.3rem;
  fill: #c0c0c1;
  background: none;
}
@media only screen and (max-width: 36.25em) {
  .icon--moon {
    display: none;
  }
}
@media only screen and (max-width: 36.25em) {
  .icon--search {
    margin-right: -4rem;
    width: 3rem;
    height: 3rem;
  }
}
@media only screen and (max-width: 36.25em) {
  .icon--user {
    width: 3rem;
    height: 3rem;
  }
}
.icon--heart {
  width: 2.3rem;
  height: 2.3rem;
  fill: #c0c0c1;
}
@media only screen and (max-width: 36.25em) {
  .icon--heart {
    width: 3.5rem;
    height: 3.5rem;
  }
}
.icon--title {
  width: 2.3rem;
  height: 2.3rem;
  fill: #c0c0c1;
}
@media only screen and (max-width: 36.25em) {
  .icon--title {
    width: 3.5rem;
    height: 3.5rem;
  }
}
.icon--maximize {
  width: 4rem;
  height: 4rem;
  fill: #c0c0c1;
}
@media only screen and (max-width: 36.25em) {
  .icon--maximize {
    width: 5rem;
    height: 5rem;
  }
}
.icon--menu {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}
@media only screen and (max-width: 36.25em) {
  .icon--menu {
    width: 4.5rem;
    height: 4.5rem;
  }
}
.icon--link {
  position: relative;
  width: 2rem;
  height: 2rem;
  fill: #717376;
  background: none;
  top: 0.15rem;
}
.icon--dropdown {
  position: relative;
  left: -2.5rem;
  margin-top: 0.4rem;
  width: 2rem;
  height: 2rem;
}
@media only screen and (max-width: 36.25em) {
  .icon--dropdown {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.active {
  fill: #fefefe;
  color: #fefefe;
}

.fixed {
  position: fixed;
  top: 0;
}

.margin-left {
  margin-left: 0rem;
}

/*# sourceMappingURL=main.css.map */
