// Variables
$cp-1: #17171b;
$cp-2: #1c1c1f;
$cp-3: #262629;
$cp-4: #3f4044;
$cp-5: #4f5055;

$cs-1: #fefefe;
$cs-2: #c0c0c1;
$cs-3: #717376;

// Font sizes
$fs-1: 2rem;
$fs-2: 1.8rem;
$fs-3: 1.6rem;
$fs-4: 1.4rem;

// Breakpoints
$bp-large: 78.15em; // 1250px
$bp-medium: 60.625em; // 970px
$bp-medium-small: 45em; // 720px
$bp-small: 39.7em; // 634px
$bp-very-small: 29em; // 464px
$bp-tiny: 18em; // 288px

$ts-1: cubic-bezier(0.22, 1, 0.36, 1);

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  

  @media only screen and (max-width: $bp-medium) {
    font-size: 55%;
  }

  @media only screen and (max-width: $bp-medium-small) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 45%;
  }

  @media only screen and (max-width: $bp-very-small) {
    font-size: 43%;
  }

  @media only screen and (max-width: $bp-tiny) {
    font-size: 38%;
  }
}

body {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 400;
  color: $cs-1;
  background-color: $cp-1;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-size: $fs-1;
}

::selection {
  background-color: $cp-4;
  color: $cs-1;
}

html {
  scrollbar-width: thin;
  scrollbar-color: $cp-4 $cp-1;
}

body::-webkit-scrollbar {
  width: 0.9rem;

  &-track {
    background: $cp-1;
  }

  &-thumb {
    background-color: $cp-4;
    border-radius: 0.3rem;
  }

  &-thumb:hover {
    background-color: rgba($cp-4, 0.5);
  }

  &-thumb:active {
    background-color: $cp-4;
  }

  &-thumb:window-inactive {
    background-color: $cp-4;
  }

  &-thumb:window-inactive:hover {
    background-color: $cp-3;
  }
}
