.btn {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: $cs-2;
  background-color: transparent;

  border: 1px solid #252528;
  border-radius: 1rem;
  padding: .6rem;

  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: #2f2f34;
    color: $cs-1;
  }

  &:active {
    position: relative;
    overflow: hidden;
    transform: scale(0.95);
  }

  &:first-child {
    color: $cs-1;
    border: none;
    background-color: #2f2f34;
  }
}
