.btn {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: $cs-2;
  background-color: transparent;

  border: 1px solid #252528;
  border-radius: 1rem;
  padding: 0.5rem;

  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: #2f2f34;
    color: $cs-1;
  }

  &:active {
    position: relative;
    overflow: hidden;
    transform: scale(0.95);
  }

  &:first-child {
    color: $cs-1;
    border: none;
    background-color: #2f2f34;
  }
}

.showMore-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #2f2f34;
  border: 1px solid #252528;
  color: $cs-1;

  svg {
    fill: $cs-2;
  }

  &:hover {
    background-color: $cp-2;
    fill: $cs-1;
  }

  &:active {
    position: relative;
    overflow: hidden;
    transform: scale(0.95);
    fill: $cs-1;
    background-color: $cp-4;
  }
}
