.main {
  display: flex;

  width: 100%;
  flex: 1;

  margin-top: 8rem;
}

.main__right {
  border-left: 2px solid $cp-2;
  flex: 1;
  padding: 2.5rem;
  margin-left: 35rem;

  display: flex;
  flex-direction: column;

  transition: all 0.3s $ts-1;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-left: 0;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 1rem;
  }
}

.main__trending {
  padding: $fs-1;

  &--header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;

    &--text-1 {
      color: $cs-1;
      font-size: $fs-2 !important;
    }

    &--text-2 {
      font-size: $fs-3 !important;
      color: $cs-3;
      font-weight: 500 !important;
      flex: 1;
    }

    &--text-3 {
      color: $cs-3;
      font-weight: 500 !important;
      font-size: $fs-3 !important;

      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      text-decoration: none;
    }
  }
}

.movies {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 1.5rem;

  @media only screen and (max-width: $bp-medium-small) {
    gap: 2rem;
  }
}

.movie {
  display: flex;
  background-color: $cp-2;
  border-radius: 1rem;
  position: relative;
  // max-width: 18.6rem;
  max-height: 40rem;
  overflow: hidden;

  transition: all 0.3s ease-in-out;

  &__image {
    // max-width: 18.6rem;
    // max-height: 28rem;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
  }

  &__maximize {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1000;
  }

  &__heart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
      fill: $cs-1;
    }
  }

  &__info {
    opacity: 0;
    display: flex;
    align-items: flex-end;

    position: absolute;

    backdrop-filter: blur(4px);
    background-color: rgba($cp-2, 0.5);
    flex: 1;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in;

    &:hover {
      opacity: 100;
      cursor: pointer;
    }

    &--title {
      position: absolute;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -15%);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: 400;
      gap: 0.5rem;
      font-size: 1.6rem;
      background-color: $cp-3;
      padding: 1rem;
      min-width: 90%;
      border-radius: 0.5rem;
      min-height: 5rem;
      color: $cs-2;

      @media only screen and (max-width: $bp-small) {
        font-size: 2rem;
      }
    }

    &--rating {
      display: flex;
      align-items: center;
      color: $cs-2;
      position: absolute;
      top: 1rem;
      left: 1rem;
      z-index: 1000;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      font-size: 1.6rem;
      gap: 0.5rem;
      margin-bottom: 1rem;

      @media only screen and (max-width: $bp-small) {
        font-size: 2rem;
      }
    }
  }
}

.main__left {
  height: 122vh;
  width: 37rem;
  top: -10rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;

  background-color: rgba($cp-2, 0.99);
  box-shadow: 0 5rem 5rem rgba($cp-1, 1);
  backdrop-filter: blur(10px);
  border-right: 2px solid $cp-2;

  z-index: 100000;
  transition: all 0.3s $ts-1;

  @media only screen and (max-width: $bp-medium) {
    padding: $fs-1;
  }
}

.main__up {
  position: relative;
  top: 15rem;
  padding: $fs-1;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  flex-basis: 60%;

  @media only screen and (max-width: $bp-medium) {
    padding: 0;
  }
}

.main__header {
  display: flex;
  align-items: center;
  gap: 1rem;

  &-2 {
    margin-top: 2rem;
  }
}

.main__buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.6rem;
}

.main__down {
  padding: $fs-1;

  flex: 1;

  background-color: $cp-2;
  border-top: 1px solid $cp-2;
  border-bottom: 1px solid $cp-2;

  @media only screen and (max-width: $bp-medium) {
    padding: 0;
  }
}

.main__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;

  &--range {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;

    input {
      width: 100%;
      margin-right: 2rem;
      height: 0.8rem;
      -webkit-appearance: none;
      background: $cs-3;
      outline: none;
      border: none;
      border-radius: 0.5rem;

      &::-moz-range-progress {
        height: 100%;
        background: lighten($cs-2, 50%);
        border-radius: 0.5rem;
      }

      &::-moz-range-thumb {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        background: darken($cp-4, 10%);
        cursor: pointer;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        background: darken($cp-4, 10%);
        cursor: pointer;
      }

      &::-webkit-slider-runnable-track {
        height: 100%;
        background: lighten($cs-2, 50%);
        border-radius: 0.5rem;
      }

      &::-ms-thumb {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        background: darken($cp-4, 10%);
        cursor: pointer;
      }
    }
  }

  &--number {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $cs-2;
  }
}
