.h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.h3 {
  font-size: 1.8rem;
  letter-spacing: 0.3px;
  font-weight: 400;
}
