.hidden {
  // display: none;
  transition: all 0.2s $ts-1;
  transform: translateX(-50rem);
}

.search-hidden {
  transform: translateY(-200rem);
}

.search-hidden-2 {
  opacity: 0;
  pointer-events: none;
}

.icon {
  width: 2.3rem;
  height: 2.3rem;
  fill: $cs-2;
  transition: all 0.2s;

  &--social {
    width: 3rem;
    height: 3rem;
    fill: $cs-2;
    transition: all 0.2s;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 2rem;
    }

    &:hover {
      fill: $cs-1;
    }

    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }

  &--x-2 {
    transition: all 0.3s;
    width: 3.5rem;
    height: 3.5rem;
    fill: $cs-2;
    cursor: pointer;

    @media only screen and (max-width: $bp-small) {
      width: 4.5rem;
      height: 4.5rem;
    }

    &:hover {
      fill: $cs-1;
    }

    &:active {
      fill: $cs-1;
      transform: scale(1.05) rotate(30deg);
    }
  }

  &--search-2 {
    transition: all 0.3s;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    fill: $cs-2;
    @media only screen and (max-width: $bp-small) {
      width: 4.5rem;
      height: 4.5rem;
    }

    &:hover {
      fill: $cs-1;
    }

    &:active {
      fill: $cs-1;
      transform: scale(1.05) rotate(30deg);
    }
  }

  &--main {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    margin-top: -4.5rem;
    transition: all 0.2s $ts-1;
    margin-bottom: 3rem;
    transition: all 0.3s;

    @media only screen and (max-width: $bp-small) {
      width: 4.5rem;
      height: 4.5rem;
    }

    &:hover {
      fill: $cs-1;
    }

    &:active {
      fill: $cs-1;
      transform: rotate(90deg);
    }
  }

  &--moon {
    transition: all 0.3s;
    @media only screen and (max-width: $bp-small) {
      display: none;
    }
    &:hover {
      fill: $cs-1;
    }

    &:active {
      fill: $cs-1;
      transform: scale(1.05) rotate(45deg);
    }
  }

  &--search {
    transition: all 0.3s;
    @media only screen and (max-width: $bp-small) {
      margin-right: -4rem;
      width: 3.5rem;
      height: 3.5rem;
    }

    &:hover {
      fill: $cs-1;
    }

    &:active {
      fill: $cs-1;
      transform: scale(1.05) rotate(45deg);
    }
  }

  &--user {
    transition: all 0.3s;
    @media only screen and (max-width: $bp-small) {
      width: 3.5rem;
      height: 3.5rem;
    }

    &:hover {
      fill: $cs-1;
    }

    &:active {
      fill: $cs-1;
      transform: scale(1.05);
    }
  }

  &--heart {
    transition: all 0.3s;
    width: 2.3rem;
    height: 2.3rem;
    fill: $cs-2;

    @media only screen and (max-width: $bp-small) {
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  &--title {
    width: 2.3rem;
    height: 2.3rem;
    fill: $cs-2;

    @media only screen and (max-width: $bp-small) {
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  &--maximize {
    width: 4rem;
    height: 4rem;
    fill: $cs-2;

    @media only screen and (max-width: $bp-small) {
      width: 5rem;
      height: 5rem;
    }
  }

  &--menu {
    transition: all 0.3s;
    width: 3.8rem;
    height: 3.8rem;
    cursor: pointer;
    transition: all 0.2s $ts-1;

    @media only screen and (max-width: $bp-small) {
      width: 4.5rem;
      height: 4.5rem;
    }

    &:hover {
      fill: $cs-1;
    }
  }

  &--link {
    transition: all 0.3s $ts-1;
    position: relative;
    width: 2rem;
    height: 2rem;
    fill: $cs-3;
    background: none;
    pointer-events: none;

    top: 0.15rem;
  }

  &--chevron {
    width: 2.5rem;
    height: 2.5rem;
    fill: $cs-3;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      fill: $cs-1;
    }
  }
}

.active {
  transition: all 0.3s $ts-1;

  fill: $cs-1;
  color: $cs-1;
}

.fixed {
  position: fixed;
  top: 0;
}

.margin-left {
  margin-left: 0rem;
}

.nav-control {
  @media only screen and (max-width: $bp-medium-small) {
    display: none;
  }
}

.floating-navbar__icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: darken($cs-2, 25%);
  transition: all 0.2s $ts-1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $bp-medium-small) {
    width: 2.5rem;
    height: 2.5rem;
  }

  @media only screen and (max-width: 43em) {
    width: 2.7rem;
    height: 2.7rem;
  }

  @media only screen and (max-width: $bp-small) {
    width: 3rem;
    height: 3rem;
  }

  @media only screen and (max-width: $bp-very-small) {
    width: 2.9rem;
    height: 2.9rem;
  }

  &:hover {
    fill: $cs-1;
  }
}

.floating-active {
  transition: all 0.1s $ts-1;
  padding: 2rem 2rem;
  border-radius: 50%;
  background-color: darken($cs-2, 40%);
  box-shadow: 0 0 3rem rgba($cs-3, 0.2);
  fill: $cs-1;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: $cs-1;
  }

  use {
    fill: $cs-1;
  }
}

.active-pagination {
  fill: $cs-1;
  background-color: $cp-4;
}

.icon--menu {
  pointer-events: none;
}

.mainMenu,
.sort {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s $ts-1;

  svg {
    pointer-events: none;
  }

  &:active {
    transform: scale(1.05) rotateY(45deg);
  }
}

.spinner {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10000000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.icon--spinner {
  width: 10rem;
  height: 10rem;
  fill: $cs-2;
  animation: spin 2s linear infinite;
  pointer-events: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-hidden {
  display: none;
}

.floating-navbar__item svg {
  pointer-events: none;
}
