.hidden {
  display: none;
}

.icon {
  width: 2.3rem;
  height: 2.3rem;
  fill: $cs-2;

  &--main {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    margin-top: -4.5rem;
    transition: all 0.2s ease-in-out;
    margin-bottom: 3rem;

    @media only screen and (max-width: 36.25em) {
      width: 4.5rem;
      height: 4.5rem;
    }
  }

  &--moon {
    @media only screen and (max-width: 36.25em) {
      display: none;
    }
  }

  &--search {
    @media only screen and (max-width: 36.25em) {
      margin-right: -4rem;
      width: 3rem;
      height: 3rem;
    }
  }

  &--user {
    @media only screen and (max-width: 36.25em) {
      width: 3rem;
      height: 3rem;
    }
  }

  &--heart {
    width: 2.3rem;
    height: 2.3rem;
    fill: $cs-2;

    @media only screen and (max-width: 36.25em) {
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  &--title {
    width: 2.3rem;
    height: 2.3rem;
    fill: $cs-2;

    @media only screen and (max-width: 36.25em) {
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  &--maximize {
    width: 4rem;
    height: 4rem;
    fill: $cs-2;

    @media only screen and (max-width: 36.25em) {
      width: 5rem;
      height: 5rem;
    }
  }

  &--menu {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    @media only screen and (max-width: 36.25em) {
      width: 4.5rem;
      height: 4.5rem;
    }
  }

  &--link {
    position: relative;
    width: 2rem;
    height: 2rem;
    fill: $cs-3;
    background: none;

    top: 0.15rem;
  }

  &--dropdown {
    position: relative;
    left: -2.5rem;
    margin-top: 0.4rem;
    width: 2rem;
    height: 2rem;

    @media only screen and (max-width: 36.25em) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.active {
  fill: $cs-1;
  color: $cs-1;
}

.fixed {
  position: fixed;
  top: 0;
}

.margin-left {
  margin-left: 0rem;
}

